:root {
    /* colors */
    --primary: #ff8800;
    --secondary  : #ffdab9;
    --accent : #441b00;

}

@font-face {
    font-family: 'number';
    src: url(../fonts/BTITRBD.TTF);
}


@font-face {
    font-family: 'title';
    src: url(../fonts/TEXT\ BOLD_MRT.TTF);
    
}

@font-face {
    font-family: 'text';
    src: url(../fonts/TEXT\ MEDIUM_MRT.TTF);
}

html {
    scroll-behavior: smooth;
}
body{
    padding: 0px 30px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--primary);
}

h1,h2,h3,h4,h5,h6,p,a{
    color: var(--accent);
    outline: none;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'title';
}

a,p{
    font-family: 'text';
}

hr{
    color: var(--accent);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}




/* hero */

.title{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 50px;
    height: fit-content;
    width: 50%;
    border: 3px solid var(--accent);
    box-shadow: 10px 10px 15px 0px var(--accent);
}
.title img{
    width: 200px;
}
.hero-holder{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.hero-holder img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 370px;
    filter: drop-shadow(0px 0px 5px var(--text-color));

    /* rotate: 5deg; */

}
.link-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.link-group{
    width: 70vw;
    height: 60px;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 50px;

    display: grid;
    grid-template-columns: 1fr 30vw 1fr;
    grid-template-areas: "right blank left";
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px 0px var(--accent);


}


.link-group a{
    text-align: center;
    font-size: 30px;
    transition: all 0.5s;
}
.link-group a:hover{
    scale: 1.2;
}

.right-link{
    grid-area: right;
}

.left-link{
    grid-area: left;
}
.mobile-hero-holder{
    display: none;
}
@media screen and (max-width:1100px){
    
    
    .link-group a{
        font-size: 20px;
    }

    .hero-holder img{
        width: 300px;
    }
}

@media screen and (max-width:850px){
    
    .title{
        width: 100%;
    }

    .hero-holder{
        display: none;
    }
    .mobile-hero-holder{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
    .mobile-hero-holder img{
        width: 45px;
    }
    .mobile-hero-holder a{
        background-color: var(--secondary);
        width: 100%;
        height: 40px;
        border-radius: 50px;
        text-align: center;
        align-content: center;
        font-size: 22px;
        box-shadow: 0px 3px 10px 0px var(--accent);
        transition: all 0.5s;
    }
    .mobile-hero-holder a:hover{
        scale: 1.07;

    }

    .mobile-link-holder-left{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .mobile-link-holder-right{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;
        justify-content: center;
        align-items: center;

    }


}

/* menu */

.topic-menu-holder{
   /* border: 3px solid red; */
   display: grid;

   grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
   width: 100%;
   margin-top: 50px;
   padding: 10px;
   height: fit-content;
   gap: 25px;
   align-items: center;
   


}

.menu-topic{
    width: 260px;
    height: 150px;
    margin: 0 auto;
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--accent);


}

.menu-topic img{
    width: 100%;

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin: 0px 15px;
    
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--accent);

}
.header img{
    width: 15%;
}
@media screen and (min-width:880px) {
    .header img{
        width: 70px;
    }
    .header h1{
        font-size: 35px;
    }
}

.topic-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
}
.item{
    box-shadow: 0px 0px 10px 0px var(--accent);

    margin: 0 auto;
    width: 290px;
    height: 450px;
    background-color: var(--secondary);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow: hidden;
}
.item img{
    width: 100%;
    height: 220px;
}

.description{
    width: 100%;
    height: 100px;
    padding: 0px 15px;
    text-align: right;
    overflow: scroll;
    scrollbar-width: none;
}

.description::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Edge */
}
.price-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-family: 'number';
}

.floating-button{
    width: 50px;
    height: 70px;
    border-radius: 15px;
    background-color: var(--accent);
    box-shadow: 0px 0px 10px 0px var(--accent);
    color: var(--primary);
    padding: 15px 10px 10px 10px;

    position: sticky;
    bottom: 2%;
    right: 0;
    transition: all 0.5s;
}


.floating-button:hover{
    scale: 1.1;

}
.floating-button img{
    width: 100%;
}

.fal-box{
    margin: 50px auto;
    max-width: 700px;
    height: fit-content;
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--accent);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 20px;

}

.fal-hafez-poem{
    font-family: 'number';
}