{% extends 'base.html' %}

{% block title %}
    KeyfKook | منو 
{% endblock %}
{% load static %}


{% block extra_css %}
    <style></style>
{% endblock %}


{% block content %}

    <section class="topic-menu-holder">

        <div class="menu-topic">
            <a href="">
                <img src="{% static 'media/images/topics/coffee-topic.png' %}" alt="not loaded">
            </a>
        </div>

    </section>


    <!-- topic -->
    <hr style="margin: 20px 0px;">
    <div class="topic">
        <div class="header">
            <h1>قهوه</h1>
            <img src="{% static 'media/images/logo.png' %}" alt="">
            <img src="{% static 'media/images/topics/coffee.png' %}" alt="">
        </div>
    </div>
    <div class="topic-items">
        <!-- item -->
        <div class="item">
            <img src="{% static 'media/images/items/cappuccino.jpg' %}" alt="image not loaded">
            <h1>کاپوچینو</h1>
            <hr style="margin: 10px 0px; width: 80%;">
            <div class="description">
                <p>قهوه, شیر, سیروپ دلخواه</p>

            </div>
            <div class="price-box">
                <h2 class="price">70,000</h2>
                <h2>تومان</h2>
            </div>

        </div>
        <!-- end of item -->
    </div>
    <!-- end of topic -->


    <a href="#top">
        <div class="floating-button">
            <img src="{% static 'media/images/up_arrow.png' %}" alt="">
        </div>
    </a>

{% endblock %}


{% block extra_js %}
    <script></script>
{% endblock %}